python-benedict
tqdm
joblib
pytest
pathos
numpy
pandas
matplotlib
seaborn
scikit-learn
makefun
sympy
tensorflow
torch
cma
# python -m ipykernel install --user --name venv --display-name "SubCell-venv"
